.container{
    display: block;
    margin: auto;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    height: 80%;
}
.name{
display:flex;
flex-direction: row;
justify-content:space-between;
margin-bottom:20px;
}
.mail{
display:flex;
flex-direction: row;
justify-content:space-between;
}
input[type="email"]{
    width:47%;
    height:35px;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="number"]{
    width:47%;
    height:35px; 
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="text"]{
    width:47%;
    height:35px;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}

h1{
    display: flex;
    margin: 4% auto;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px ;
}
hr{
    width: 60%;
    border: 1px solid #120A19;
    margin-bottom:4%;
}
input[type="submit"]{
    display:block;
    margin: 6% auto;
    width: 30%;
    height: 40px;
    background-color: #139a6d;
    color: whitesmoke;
    cursor: pointer;
}

textarea{
    display: block;
    margin: 2% auto 0;
    width: 100%;
    height: 22vh;
    max-height: 165px;
    background-color:#f4f4f4;
    font-family: sans-serif;
    border: 1px solid #13986c;
    border-bottom: 4px solid #13986c;
}
@media  screen and (max-width:768px) {
.name, .mail{
    flex-direction: column;
    align-items: center;
}
.name{
    margin-bottom:0px;
}
input[type="text"],input[type="email"],input[type="number"]{
    margin-bottom: 20px;
}
textarea{
    width:50%;
}    
}