.dexLaunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  border: 1px solid grey;
  border-radius: 1.16vw;
  padding: 1vw;
  color: white;
  margin: 2vw;
}

.dexLaunch form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dexLaunch form label {
  font-weight: 600;
  margin-bottom: 0.5vw;
}

.dexLaunch form .form-group {
  margin-bottom: 2vw;
}

.dexLaunch form .form-control {
  background-color: #2E3238;
  color: white;
  border: none;
}

.dexLaunch form .form-control::placeholder {
  color: #888;
}

.dexLaunch form .btn-primary {
  background-color: #12D576;
  border: none;
  padding: 0.5vw 1vw;
}