footer {
  background-color: #0a0a0a;
  color: #ffffff;
  padding: 40px 0;
  height: 500px;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  padding: 10px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-column h4 {
  margin-bottom: 10px;
}

ul {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
}

ul li a {
  color: #B8B8B8;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li:hover a {
  color: #00aaff;
}

ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

ul li:hover a::before {
  transform: scaleX(1);
}

ul li i {
  transition: transform 0.3s ease;
}

ul li:hover i {
  transform: translateX(5px);
}

.footer-bottom {
  text-align: left;
  margin: 40px 100px 0 100px;
  padding-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.social-icons {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00aaff;
}

.social-telegram {
  display: flex;
  justify-content: left;
  list-style: none;
  padding-left: 30px;
  margin: 0;
}

/* Additional Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 15000px;
  margin: 20px auto;
  padding: 20px 20px;
}
