.newHome-FAQ{
    padding:5vw 10vw;
    color:white;
    background-color: #13141e;
    display:flex;
    justify-content:space-between;
}
.newHome-FAQ-heading{
    font-size:3vw;
    font-weight:700;
}
.newHome-FAQ-note{
    padding-top:1.3vw;
    font-size:1.3vw;
    color:#929397;
}
.newHome-FAQ-button{
    padding-top:2vw;
    padding-right:4vw;
}
.newHome-FAQ-button-1{
    font-size:1.2vw;
    font-weight:700;
    display:flex;
    justify-content: space-between;
}
.newHome-FAQ-button-1 div:hover,.newHome-FAQ-button-2 div:hover,.newHome-FAQ-button-3 div {
    cursor:pointer;
}
.newHome-FAQ-button-2{
    font-size:1.2vw;
    font-weight:700;
    display:flex;
    justify-content: space-between;
    padding-top:1vw;
}
.newHome-FAQ-button-3{
    font-size:1.2vw;
    font-weight:700;
    display:flex;
    justify-content: space-between;
    padding-top:1vw;
}
.accordion-button{
    background-color:#13141e;
    color:white;
    font-size:1.2vw;
    font-weight:700;
}
.accordion-button[aria-expanded='true']{
    background-color:#13141e;
    color:white;
    font-size:1.2vw;
    font-weight:700;
}
.accordion-body{
    background-color: #13141e;
    color:#c3c3c6;
    font-size:1vw;
}
.accordion-button::after{
    background-color:white;
}
.newHome-Navbar{
    display:flex;
    justify-content: space-between;
    padding:1.5vw 4vw;
    color:white;
    background:linear-gradient(180deg,rgba(59,53,99,.2),rgba(19,20,32,.2)),#131420;
}
.newHome-Navbar-1{
    display:flex;
    font-weight: 600;
    font-size:1.3vw;
}
.newHome-Navbar-2{
    margin-top:0.5vw;
    display:flex;
    gap:1.5vw;
    font-weight:600;
    font-size:1vw;
}
.newHome-Navbar-3{
    margin-top:0.5vw;
    display:flex;
    gap:1.5vw;
}
.newHome-Navbar-4{
    margin-top:0.5vw;
    height:1.8vw;
    display:flex;
    gap:1vw;
}
.newHome-Head{
    background: rgb(21,75,121);
    background: linear-gradient(235deg, rgba(21,75,121,1) 1%, rgba(20,30,49,1) 17%, rgba(20,29,47,1) 21%, rgba(20,26,43,1) 26%, rgba(20,21,34,1) 50%, rgba(20,25,41,1) 73%, rgba(20,29,47,1) 76%, rgba(20,35,56,1) 79%, rgba(21,68,110,1) 97%);
    padding:5vw 10vw 4vw 10vw;
    display:flex;
}
.newHome-Head-1{
    color:white;
    font-size:3vw;
    font-weight:700;
}
.newHome-Head-2{
    color:#b1b1b6;
    font-size:1.4vw;
}
.newHome-Head-3{
    padding-top:2vw;
    display:flex;
    gap:1.5vw;

}
.newHome-Head-3-1{
    padding:0.7vw 2vw;
    background-color: #5231d4;
    border:1px solid transparent;
    border-radius:0.2vw;
    color:white;
    font-weight:600;
    font-size:1vw;
}
.newHome-Head-3-1:hover{
    filter:brightness(0.9);
}
.newHome-Head-3-2{
    padding:0.5vw 1.5vw;
    background-color: #191a24;
    color:white;
    font-weight:600;
    font-size:1vw;
    border:1px solid transparent;
    border-radius:0.2vw;
}
.newHome-Head-4{
    padding-top:3vw;
    font-size:1vw;
    font-weight:700;
    color:#9aa2ac;
}
.newHome-Head-5{
    padding-top:1vw;
    display:flex;
    gap:1vw;
}
.newHome-Head-6{
    padding-top:1vw;
    display:flex;
    gap:1vw;
}
.newHome-SFUND{
    color:white;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
}
.newHome-SFUND-1{
    padding-top:2.5vw;
    font-size:2.5vw;
    font-weight:700;
}
.newHome-SFUND-2{
    padding-top:3.5vw;
    padding-bottom:3vw;
}
.newHome-video{
    display:flex;
    color:white;
    font-weight:500;
    padding:2vw 20vw;
    border:1px solid #7d7f90;
    background:#232744;
}
.newHome-video div{
    font-size:2vw;
}
.newHome-video button{
    font-size:1vw;
    color:white;
    background-color: rgb(81 47 217 / 96%);
    font-weight:600;
    border:1px solid transparent;
    border-radius:0.3vw;
    margin-left:1vw;
    padding:0.5vw 1vw;
}
.newHome-Join{
    display:flex;
    padding:5vw 12vw;
    gap:8vw;
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
}
.newHome-Join-1{
    color:white;
    font-size:3vw;
    font-weight:700;
}
.newHome-Join-2{
    font-size:1.2vw;
    color:#bbbec3;
}
.newHome-video-2{
    display:flex;
    color:white;
    font-weight:500;
    padding:2vw 15vw;
    border:1px solid #7d7f90;
    background:hsl(234.55deg 16.42% 13.14%);
    gap:1vw;
}
.newHome-video-2 button{
    font-size:1vw;
    color:white;
    background-color: rgb(81 47 217 / 96%);
    font-weight:600;
    border:1px solid transparent;
    border-radius:0.3vw;
    margin-left:1vw;
    padding:0.5vw 1vw;
}
.newHome-footer{
    padding:4vw 0;
    display:flex;
    justify-content: space-around;
    background-color: #1a1c29;
    color:#76787f;
    font-size:1vw;
    font-weight:500;
}
.slide1,.slide2,.slide3{
    width:100%;
    height:18vw;
    background:transparent;
    backdrop-filter: blur(1vw);
    opacity:0;
    position:absolute;
    top:5.5vw;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding:1.5vw 15vw;
    color:white;
    display:flex;
    gap:3vw;
}
#igo_launchpad:hover{
    color:#5231d4;
    cursor:pointer;
}
#ino_launchpad:hover{
    color:#5231d4;
    cursor:pointer;
}
#stake_farm:hover{
    color:#5231d4;
    cursor:pointer;
}
#claims:hover{
    color:#5231d4;
    cursor:pointer;
}
.newHome-Join-button{
    padding:0.7vw 2vw;
    background-color: #5231d4;
    border:1px solid transparent;
    border-radius:0.2vw;
    color:white;
    font-weight:600;
    font-size:1vw;
    margin-top:1.2vw;
}
.newHome-Join-button:hover{
    filter:brightness(0.9);
}
.newHome-Join-head{
    font-size:1.5vw;
    font-weight: 600;
    color:white;
}
.newHome-Join-para{
    color:#b9b9bc;
    font-size:1.1vw;
}
.newHome-Join-svg{
    padding:0.8vw;
    height:3.6vw;
    border-radius:0.8vw;
    background-color:#4d4e56;
    border:1px solid #9e9fa3;
}
