.container {
  padding: 10px;  
}

.search-box:focus{
  outline:none;
  border:1px solid transparent;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 200px;
  }
  
  .card {
    width: 384px;
    height: 576px;
    border-radius: 2vw;
    transition: transform 0.2s ease-in-out;
    background-color:#12083d ;
  }
 
  

  .card:hover {
    transform: translateY(-7px);
  }
  
  .card-image {
    width:100%;
    height:7vw;
    border-radius: 1.5vw;
    margin-bottom: -15px;
    
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
   height:100%;
   padding:0 1vw;
  }
  
  .card-title {
    font-size: 2vw;
    padding-top: 1vw;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -5px ;
    color:antiquewhite
  }
  
  .card-description {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfbffd7;
    text-align: left;
    margin-top: -10px ;
  }
  
/* progress bar text details */

  .progress-text {
    display: block;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8vw;
    margin-top:-8px;
    font-weight: 600;
    color: antiquewhite;
  }
  
  .value-text {
    margin-left: 10px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  color: antiquewhite;
  }

  .new-text {
    margin-left: 150px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  color: antiquewhite;
  }

  /* Progress bar details */

  .progress-bar-container {
    width: 100%;
    height: 0.8vw;
    margin-bottom: 1vw;
  }
  
  .progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
    color: #464646;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #11e615fe; /* Customize the color of the progress bar */
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #f0f0f0; /* Customize the background color of the progress bar */
  }

/* box details for softcap */

   .box-container {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap; 
  }
  
  .box {
    width:8vw;
    padding:0.5vw 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5vw;
    margin-top: 0.78125vw;
    border: 2px solid;
  }
  
  .box-text {
    color: #3516d3;
    border-radius: 25px;
    border-color: #000000;
  }
  
  .box-1 {
    background-color: #85858d5e;
    
  }
  
  .box-2 {
    background-color: #85858d5e;
    
  }
  
  .box-3 {
    background-color: #85858d5e;
    
  }

  .box-4 {
    background-color: #85858d5e;
  }
  
  .box-1 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-1 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-2 .box-text {
    color: #faf7f7; 
    /* Change the text color to contrast with box-2 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-3 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }

  .box-4 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    
  }

  .Softcap-text{

    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }

  .Liquidity-text{
    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }
  
  .Locked-text{
    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }
  
.line {
  border-bottom:1px solid #ffffff;
  padding-bottom: 50px; /* Optional: Add spacing below the line */
  margin-bottom: 60px;
  margin-top:-35px;
}

.end{
 margin-left: 10px;
 padding-bottom: 10px;
 margin-top: -50px;
 font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffffd7;
    text-align: left;
    font-weight:bold;
}
  
.icon-container {
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: -35px;
  margin-bottom: 15px;
}

.icon-container span {
  font-size: 28px; /* Adjust the font size as needed */
  margin-right: 10px; /* Adjust the spacing between icons as needed */
  color:#ffffff;
}
@media only screen and (max-width:1780px){
  .box{
    width: 10vw !important;
  }
}
@media only screen and (max-width:1270px){
  .box{
    width:15vw !important;
  }
  .card-image{
    height:10vw !important;
  }
  .audit{
    padding-top: 3vw !important;
  }
  .audit div{
    height:3vw !important;
  }
}
@media only screen and (max-width:1000px){
  .audit div{
    height:3.5vw !important;
  }
  .search-container{
    height:4vw !important;
  }
}
@media only screen and (max-width:976px){
  .card-coin-img{
    width:8vw !important;
    height:6vw !important;
  }
}

@media only screen and (max-width:750px){
  .audit{
    padding-top: 3vw !important;
  }
  .audit div{
    height:5vw !important;
  }
  .box{
    width:25vw !important;
  }
  .card{
    width:270px !important;
  }
  .search-container{
    height:6vw !important;
  }
  .card-image{
    height:15vw !important;
  }
}
