.walletSection {
    padding-left: 40px;
    padding-right: 40px;
  }
  .headText {
    color: #12d576;
    font-size: 24px;
  }
  
  /* .table {
    width: 100%;
    margin-top: 20px;
    border: transparent;
  }
  
  th {
    background-color: rgba(44, 44, 44, 0.78) !important;
  }
  .tableHead {
    padding-left: 20px;
  }
  .thead {
    color: #fff;
    font-weight: 500;
    font-style: normal;
    padding-left: 20px;
  }
  
  thead {
    border-radius: 5px;
  }
  
  .divi {
    width: 100%;
  } */
  
  .table-container {
    position: relative;
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    color: #fff;
  }
  .custom-table th, .custom-table td{
    border:1px solid transparent !important;
  }
  
  /* .custom-th {
    padding: 8px 16px;
    background-color: #00cc00;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
  } */
  
  .custom-th {
    padding: 8px 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(44, 44, 44, 0.78);
    color: #fff;
  }
  
  .custom-th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .custom-th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .custom-th:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  
  .custom-th:nth-child(n + 2):nth-last-child(n + 2) {
    border-radius: 0;
  }
  
  tbody tr:nth-child(odd) {
    background-color: transparent;
  }
  
  tbody td {
    padding: 8px 16px;
  }
  
  .dynamicTable {
    margin-top: 20px;
  }
  
  button {
    border: 2px solid #353232;
  }
  
  .button-div {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
  }
  
  .table_Data_dy {
    width: 100%;
    margin-top: 15px;
  }
  