.Toastify__toast--default .Toastify__toast-body {
    color: black; /* Replace with your desired text color */
  }

  /* CSS to change text color for error toast */
.Toastify__toast--error .Toastify__toast-body {
    color:; /* Replace with your desired text color */
  }

  /* CSS to change text color for toast message */
.toast-message .text-element {
    color:black; /* Replace with your desired text color */
  }
  