
.name{
display:flex;
flex-direction: row;
justify-content:space-between;
margin-bottom:20px;
}
.mail{
display:flex;
flex-direction: row;
justify-content:space-between;
}
input[type="email"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="number"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="text"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}

h1{
    display: flex;
    margin: 4% auto;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px ;
}
hr{
    width: 60%;
    border: 1px solid #120A19;
    margin-bottom:4%;
}
input[type="submit"]{
    display:block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border-radius:0.3vw;
    background-color: #139a6d;
    color: whitesmoke;
    cursor: pointer;
}

textarea{
    display: block;
    width: 100%;
    height: 22vh;
    max-height: 165px;
    border-radius:0.3vw;
    background-color:#f4f4f4;
    font-family: sans-serif;
    border: 1px solid #13986c;
    border-bottom: 4px solid #13986c;
}
@media  screen and (max-width:768px) {
.name, .mail{
    flex-direction: column;
    align-items: center;
}
.name{
    margin-bottom:0px;
}
input[type="text"],input[type="email"],input[type="number"]{
    margin-bottom: 20px;
}
textarea{
    width:50%;
}    
}

h1.contact {
    border-bottom: none;
    font-size: 30px;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    line-height: 34px;
    margin-bottom: 25px;
  }

  p.contact-text {
    font-weight: bold;
    font-size: 17px; /* Adjust the font-size value as desired */
    font-family: Roboto,Arial, Helvetica, sans-serif;
  }
  
  a.contact-link {
    font-weight: normal;
    font-size: 14px; /* Adjust the font-size value as desired */
    font-weight: 500;
    line-height: 24px;
  }
  