 
}

.contactContainer {
    /* ... existing styles ... */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Increase the height of the transparent box */
    padding-top: 5vh; /* Adjust the padding as needed */
    padding-bottom: 5vh; /* Adjust the padding as needed */
  }
  
  
  