
.name{
display:flex;
flex-direction: row;
justify-content:space-between;
margin-bottom:20px;
}
.mail{
display:flex;
flex-direction: row;
justify-content:space-between;
}
input[type="email"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="number"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}
input[type="text"]{
    width:47%;
    padding:0.5vw 0;
    border-radius:0.3vw;
    border: 1px solid #13986c;
    border-bottom:4px solid #13986c;
    background-color:#f4f4f4;
}

h1{
    display: flex;
    margin: 4% auto;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px ;
}
hr{
    width: 60%;
    border: 1px solid #120A19;
    margin-bottom:4%;
}
input[type="submit"]{
    display:block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border-radius:0.3vw;
    background-color: #139a6d;
    color: whitesmoke;
    cursor: pointer;
}

textarea{
    display: block;
    width: 100%;
    height: 22vh;
    max-height: 165px;
    border-radius:0.3vw;
    background-color:#f4f4f4;
    font-family: sans-serif;
    border: 1px solid #13986c;
    border-bottom: 4px solid #13986c;
}
@media  screen and (max-width:768px) {
.name, .mail{
    flex-direction: column;
    align-items: center;
}
.name{
    margin-bottom:0px;
}
input[type="text"],input[type="email"],input[type="number"]{
    margin-bottom: 20px;
}
textarea{
    width:50%;
}    
}

h1.contact {
    border-bottom: none;
    font-size: 25px;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    line-height: 34px;
    margin-bottom: 31px;
  }

  p.contact-text {
    font-weight: bold;
    font-size: 17px; 
    font-family: Roboto,Arial, Helvetica, sans-serif;
  }
  
  a.contact-link {
    font-size: 14px; 
    font-weight: 600;
    line-height: 24px;
  }
  
  [.contact-container {
    background-size: cover;
    background-position: center;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dark-theme {
    background-image: linear-gradient(to right, black, rgb(1, 30, 81));
  }
  
  .light-theme {
    background-image: linear-gradient(to right, #FBFBFB, #bff2d9);
  }]
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh;
  }

  .container {
    margin-top: 2vw;
    text-align: center;
    padding: 2vw;
    border-radius: 10px;
    box-sizing: inherit;
  }
  
  .container.dark-theme {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .container.light-theme {
    background-color: rgba(0, 0, 0, 0.1);
  }
  