.contact-container {
    background-size: cover;
    background-position: center;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh;
    margin-top: 2vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2vw;
    border-radius: 10px;
    box-sizing: inherit;
  }
  
  .head.contact {
    color: white;
    padding: 10px auto;
    background: transparent;
    padding: 10px;
    border-radius: 16px;
    display: inline-block;
  }
  
  .contact-text {
    text-align: left;
    margin-bottom: 1.5vw;
    color: white;
  }
  
  .contact-link {
    color: lightgreen;
    text-decoration: none;
  }
  
  .contact-icon {
    color: lightgreen;
    margin-right: 0.9vw;
  }
  
  .contact-hr {
    border-top: 2px solid white;
    margin: 1.5vw 1vw;
    width: 100%;
    margin-left: 1%;
  }
  