.container {
  padding: 10px;  
}

.filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 1150px;
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
margin-top: 1%}

  .search{
  }W
  
.search-container {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box {
  width: 100%;
  box-sizing: border-box;
  background-color:#66f749;
  border: none;
  padding: 8px;
  outline: none;
  color: #333; /* Set the text color */
  caret-color: #333; /* Set the caret color (cursor) */
}


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border-radius: 200px;
  }
  
  .card {
    width: 279px;
    height: 400px;
    margin: 35px;
    transition: transform 0.2s ease-in-out;
    background-color:#12083d ;
  }
  
 
  

  .card:hover {
    transform: translateY(-7px);
  }
  
  .card-image {
    width: 279px;
    height: 130px;
    border-radius: 20px;
    margin-bottom: -15px;
    margin-top: -15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 14px;
    margin-left:-1px;
    position: relative;
    
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
   background-color: #04101cdc;
   /* background-color: #f0f0f0; */
   margin: -2px;
  }
  
  .card-title {
    font-size: 17px;
    margin-top: 25px;
    padding-top: 0%;
    text-align: left;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -5px ;
    color:antiquewhite
  }
  
  .card-description {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfbffd7;
    text-align: left;
    margin-left: 10px;
    margin-top: -10px ;
  }
  
/* progress bar text details */

  .progress-text {
    display: block;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-size: 13px;
    margin-top:-8px;
    font-weight: 600;
    color: antiquewhite;
  }
  
  .value-text {
    margin-left: 10px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  color: antiquewhite;
  }

  .new-text {
    margin-left: 150px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  color: antiquewhite;
  }

  /* Progress bar details */

  .progress-bar-container {
    width: 257px;
    height: 10px;
    margin-bottom: 65px;
    margin-left: 10x;
  }
  
  .progress-bar {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #11e615fe; /* Customize the color of the progress bar */
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #f0f0f0; /* Customize the background color of the progress bar */
  }

/* box details for softcap */

   .box-container {
    display: flex;
    flex-wrap: wrap;  
    margin-top: -30px;
  }
  
  .box {
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius:18px;
    margin-left: 8px;
  
margin-top: 15px;
    border: 2px solid;
  border-radius: 12px;
  }
  
  .box-text {
    color: #3516d3;
    border-radius: 25px;
    border-color: #000000;
  }
  
  .box-1 {
    background-color: #85858d5e;
    
  }
  
  .box-2 {
    background-color: #85858d5e;
    
  }
  
  .box-3 {
    background-color: #85858d5e;
    
  }

  .box-4 {
    background-color: #85858d5e;
    
    width: 107px;
  }
  
  .box-1 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-1 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-2 .box-text {
    color: #faf7f7; 
    /* Change the text color to contrast with box-2 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-3 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }

  .box-4 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    
  }

  .Softcap-text{

    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }

  .Liquidity-text{
    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }
  
  .Locked-text{
    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }
  
.line {
  border-bottom:1px solid #ffffff;
  padding-bottom: 50px; /* Optional: Add spacing below the line */
  margin-bottom: 60px;
  margin-top:-35px;
  margin-left:10px;
  margin-right: 15px;
}

.end{
 margin-left: 10px;
 padding-bottom: 10px;
 margin-top: -50px;
 font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffffd7;
    text-align: left;
    font-weight:bold;
}
  
.icon-container {
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: -35px;
  margin-bottom: 15px;
}

.icon-container span {
  font-size: 28px; /* Adjust the font size as needed */
  margin-right: 10px; /* Adjust the spacing between icons as needed */
  color:#ffffff;
}