.container {
  width: 20px;
  margin: 0 auto;
  padding: 20px;  
}

.filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 1150px;
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
margin-top: 1%}

  .search{
    margin-bottom: 10px;
    margin-top: 1%;
    margin-left: 10px;
    padding-inline-end: 20px;
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    justify-self: flex-start;
    margin-right: 650px;
    
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border-radius: 200px;
  }
  
  .card {
    width: 280px;
    height: 350px;
    margin: 50px;
    background-color: #5e8396f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    
    
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  
  .card-image {
    width: 279px;
    height: 140px;
    border-radius: 5px;
    margin-bottom: 7px;
    margin-top: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
   margin-right: 20px;
  }
  
  .card-title {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -5px ;
  }
  
  .card-description {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #110358d7;
    text-align: left;
    margin-left: 10px;
    margin-top: -10px ;
  }
  
/* progress bar text details */

  .progress-text {
    display: block;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-size: 14px;
    margin-top:-8px;
    font-weight: 600;
  }
  
  .value-text {
    margin-left: 10px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  }

  .new-text {
    margin-left: 150px;
    font-size: small; 
  font-style: bold;
  font-weight: 600;
  }

  /* Progress bar details */

  .progress-bar-container {
    width: 100%;
    height: 10px;
    margin-bottom: 65px;]
    margin-left: 20px;
  }
  
  .progress-bar {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #11e615fe; /* Customize the color of the progress bar */
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #f0f0f0; /* Customize the background color of the progress bar */
  }

/* box details for softcap */

   .box-container {
    display: flex;
    flex-wrap: wrap;  
    margin-top: -30px;
  }
  
  .box {
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 20px;
    margin-left: 8px;
  
    margin-top: 15px;
    border: 2px solid;
  border-radius: 12px;
  }
  
  .box-text {
    color: #3516d3;
    border-radius: 25px;
    border-color: #000000;
  }
  
  .box-1 {
    background-color: #12083d;
    
  }
  
  .box-2 {
    background-color: #12083d;
  }
  
  .box-3 {
    background-color: #12083d;
  }

  .box-4 {
    background-color: #12083d;
  }
  
  .box-1 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-1 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-2 .box-text {
    color: #faf7f7; 
    /* Change the text color to contrast with box-2 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }
  
  .box-3 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }

  .box-4 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
  }

  .Softcap-text,Liqui{

    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }

  .Liquidity-text{
    color: #66f749; /* Change the text color to contrast with box-3 background color */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    margin-left: 5px;
  }
  
  
  
 
  
  