.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 1150px;}

  .search{
    margin-bottom: 20px;
    margin-left: 10px;
  
  }

  
  .filter-input,
  .search-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
  }
   
  .search-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100px; /* Adjust the width as per your preference */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 280px;
    height: 350px;
    margin: 50px;
    background-color: #5e8396f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    
    
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  
  .card-image {
    width: 280px;
    height: 260px;
    border-radius: 6px;
    margin-bottom: 7px;
    margin-top: 0;
    padding-top:0;
    align-self:center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
   margin-right: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 2px;
    text-align: center;
  }
  
  .card-description {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #110358d7;
    text-align: center;
  }
  


   .box-container {
    display: flex;
    justify-content: center;
    margin-top: 9px;
  }
  
  .box {
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 20px;
    margin-left: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 2px solid;
  border-radius: 12px;
  }
  
  .box-text {
    color: #3516d3;
    border-radius: 25px;
    border-color: #000000;
  }
  
  .box-1 {
    background-color: #12083d;
    
  }
  
  .box-2 {
    background-color: #12083d;
  }
  
  .box-3 {
    background-color: #12083d;
  }
  
  .box-1 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-1 background color */
  }
  
  .box-2 .box-text {
    color: #faf7f7; 
    /* Change the text color to contrast with box-2 background color */
  }
  
  .box-3 .box-text {
    color: #faf7f7; /* Change the text color to contrast with box-3 background color */
  }
  
  .progress-bar-container {
    width: 100%;
    height: 10px;
    margin-bottom: 65px;
  }
  
  .progress-bar {
    width: 100%;
    height: 100%;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #0ab6f5fe; /* Customize the color of the progress bar */
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #f0f0f0; /* Customize the background color of the progress bar */
  }
  
  .progress-text {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
